@import "../../variables.scss";

.container {
  .logoContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    color: white;
    flex-direction: column;
    align-items: center;
    .bannerHeading {
      margin: 1rem 0;
    }
  }
  @include width-lesser-than(md) {
    .logoContainer {
      .bannerHeading {
        text-align: center;
        margin: 2rem 0;
      }
    }
  }
}

.imagesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  max-width: 80rem;
  margin: 1.5rem auto;
  .cardRoot {
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0 0 0.2em rgb(0 0 0 / 30%);
    border-radius: 16px;
    background-color: white;
    .imageTitles {
      margin-top: 1rem;
    }
  }
  .cardRoot:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    box-shadow: -1px 2px 1em 3px rgb(0 0 0 / 30%);
  }
  @include width-lesser-than(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
