@import "../../variables.scss";

.header {
    display: flex;
    align-items: center;
    padding: 2rem;
    &[data-src="true"] {
        padding: 0 2rem;
        height: 100px;
        position: fixed;
        background: #f8f8f8;
        z-index: 10;
        width: 100%;
    }
    .imageContainer {
        cursor: pointer;
    }
    @include width-lesser-than(md) {
        padding: 1.5rem;
    }
}
