@import "../../variables.scss";
@import "../../../styles/glider.module.scss";

.noHover {
  &:hover,
  &:focus {
      color: unset;
  }
}
.container {
    @extend .root;
    .sliderRoot {
        img {
            border-radius: 16px;
            width: 15% !important;
            margin: 0 auto;
        }
    }
    @include width-greater-than(md) {
        :global(.glider-contain) {
            width: 50% !important;
        }
        .sliderRoot {
            img {
                width: 10% !important;
            }
        }
    }
}
