@import "../../variables.scss";
@import "../../../styles/glider.module.scss";

.noHover {
  &:hover,
  &:focus {
      color: unset;
  }
}

.container {
    @extend .root;
    width: 50%;
    margin: 2rem auto 0;
    .sliderRoot {
        img {
            border-radius: 16px;
            object-fit: cover;
        }
    }
    @include width-lesser-than(md) {
        width: 100%;
        margin: 2rem 0 0;
    }
}
