@import "../../variables.scss";

.autoComplete {
    width: 50%;
    height: 100%;
    border-radius: 8px;
    > input {
        height: 100%;
        text-transform: capitalize;
    }
    > div > div > fieldset {
        border: none;
    }
    &[data-src="true"] {
        margin: 20px;
        > div > div {
            border: 0.5px solid;
        }
    }
    &[data-src="false"] {
        > div > div {
            border: 0.5px solid;
        }
    }
    @include width-lesser-than(md) {
        width: 80%;
        margin: 0 auto;
    }
}

.autoCompleteLoader {
    border-radius: 8px;
}
